* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(229, 234, 240);
  }
.learnpage {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    background-color: #393e46;
  }
.mainlearn {
  height: 100%;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 85%;
}
.mainlearn > h2 {
  margin-bottom: 30px;
}
.courses {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}
.courseBtn {
  height: 200px;
  width: 250px;
  background-color: #3f4b5f;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.courseBtn:hover {
  background-color: #222831;
}
@media screen  and (max-width :768px){
  .courses {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .learnpage {
  padding-bottom: 200px;
  }
  .courseBtn {
    margin: 0px 0px 30px 0px
  }
}