* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.leftnavbar {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-basis: 15%;
  background-color: #222831;
  color: rgb(229, 234, 240);
  border-right: 0.5px solid rgb(134, 133, 133);
  padding: 20px;
}
.logo {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  margin-bottom: 30px;
}
.logo__icon {
  margin-right: 5px;
}
.nav-links {
  display: flex;
  flex-direction: column;
}
.nav-link {
  margin-bottom: 20px;
  color: rgb(141, 153, 167);
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.nav-link:hover {
  background-color: #393e46;
}
.nav-link > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(141, 153, 167);
}
.nav-link > a:hover {
  color: rgb(229, 234, 240);
}
@media screen and (max-width: 999px) {
  .leftnavbar {
    display: none;
  }
}
